// Your custom styles below
:root {
  // variables, etc
}

// Rest of your styles

.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 20px;
  background: #fff;
  z-index: 9999;
}

